# Exercise 3

This is the beginning of the learning curve for Python and Jupyter. The curve looks steep, but I hope it flattens out sooner than later. I like the ability to shift between markdown and code. The keyboard shortcuts seem helpful, but they will take some time to memorize. This [link] (https://towardsdatascience.com/7-essential-tips-for-writing-with-jupyter-notebook-60972a1a8901) provides some helpful tips.

In [1]:
print('Hello world!')

Hello world!

In [2]:
2+2

4

In [5]:
text = "data carpentry"

In [6]:
text

'data carpentry'

In [7]:
type(text)

str

In [9]:
text = "data carpentry"
# some text that means nothing
text

str

In [10]:
6*7

42

In [11]:
2**3

8

In [12]:
3 <7

True

In [13]:
TRUE

NameError: name 'TRUE' is not defined

In [14]:
True

True

In [15]:
False

False

In [16]:
True or False

True

In [17]:
True and False

False

In [18]:
a_tuple = (1,2,3)
a_list = [1,2,3]

In [19]:
a_list[1] = 5

In [20]:
a_list

[1, 5, 3]

In [21]:
a_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [22]:
a_list[0] = 6

In [23]:
a_list

[6, 5, 3]

In [24]:
type(a_tuple)

tuple